ion-toolbar{
    background-color: var(--ion-color-mycolor);
}
.btn{
    background-color: var(--ion-color-mycolor-shade);
    height: 50px;
    width: 100px;
    border-radius: 12px;
    margin-top: 20px;
    margin-left: 10px;
}